In [1]:
import numpy as np
import pandas as pd
import quandl   # Necessary for obtaining financial data easily
from abc import ABCMeta, abstractmethod

import datetime
import matplotlib.pyplot as plt

from pandas_datareader import DataReader

In [2]:
import quandl

In [3]:

bars = quandl.get("EIA/PET_RWTC_D",collapse="daily")

In [4]:
bars.head()

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87

In [5]:
mydata = quandl.get("EIA/PET_RWTC_D", collapse="monthly")

In [6]:
mydata.head()

            Value
Date
1986-01-31  18.95
1986-02-28  13.23
1986-03-31  10.25
1986-04-30  13.38
1986-05-31  14.30

In [7]:

bars = quandl.get("EIA/PET_RWTC_D")

In [8]:
bars.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8004 entries, 1986-01-02 to 2017-09-11
Data columns (total 1 columns):
Value    8004 non-null float64
dtypes: float64(1)
memory usage: 125.1 KB

In [9]:
mydata = quandl.get(["NSE/OIL.1"])

In [10]:
mydata.tail()

            NSE/OIL - Open
Date
2017-09-13          330.50
2017-09-14          320.90
2017-09-15          322.05
2017-09-18          325.00
2017-09-19          325.05

In [2]:
mydata.count()

NameError: name 'mydata' is not defined